server:
  port: 5000
spring:
  datasource:
    username: postgres
    password: 
    url: jdbc:postgresql://localhost:5432/university
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: 
